/* === TYPOGRAPHY === */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 72pt;
    text-align: center;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24pt;
}

nav a{
    color: #ffffff;
}

footer {
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}

aside {
    color: #000000;
}

footer {
    font-size: 7pt;
    font-style: italic;
}

/* === BACKGROUNDS === */

header {
    background-color: #000000;
}

body{ 
    background-color: #ffffff;
}

main {
    background-color: #cdcdcd;
}

footer {
    background-color: #000000;
}

#splash {
    background-image: url(heading.jpg);
    background-size: cover;
}

#subscribe {
    background-color: red;
    width: 25%;
}

/* === Box Model === */

#splash {
    height: 400px;
}

header {
    padding-top: 20px;
}

nav a{
    margin-right: 20px;
}

nav img {
    margin-right: 20px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#foodarticles {
    margin-bottom: 50px;
    padding: 20px;
}

aside {
    margin-left: 35px;
    padding-top: 24px;
}

/* === LAYOUT === */

.floatLeft {
    float: left;
    margin-right: 25px;
    margin-bottom: 65px;
}


#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: 75% 25%;
}

#splash {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
}

header nav {
    padding: 20px;
}

h1 {
    padding-top: 100px;
}

header, footer {
    text-align: center;
}

#subscribe {
    position: fixed;
    bottom: 0px;
    right: 150px;
    padding-left: 15px;
    
}